body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.iconefacebook{
    font-size : 300% ;
}

h2{
    color: rgb(193, 19, 28);
    padding-left: 30px;
}
.image1{
    width: 90%;
    height: auto;
}

.nav-link{
    color: rgb(105, 7, 7);
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    
}
#navbarNav{
    border: solid 1px rgb(193, 19, 28);
}

#tableprice thead tr th {
    font-size: 18px;
}

th{
    font-size: 16px;
    color: darkred;
}

.hr{
   background-color: rgb(193, 19, 28);     
}
.iconefacebook {
    font-size: 5rem;
}

.text-home{
    font-size: 30px;
    padding: 30px;
}

.stat{
    border: solid 1px red;
}
.number{
    font-size: 36px;
    font-family: 'Rosarivo',serif;
    padding: 0;
} 
.image-acceuil{
    width: 70%;
    height: auto;
}

.price{
    font-size: 22px;
    font-family: 'Rosarivo', serif;
    padding: 0;
}
.d{
    font-size: 12px;
}

